- // DRAGON WEBELOPER 3
- //| _dw3.jade | v 0.1 |

- //VARIABLES

- var stylesheets = []
- var javascripts = []
- var menuNav = []

- //MIXINS

include jade/_html5.jade
include jade/_head.jade
include jade/_stylesheets_scripts.jade
include jade/_menu.jade

- //FUNCTIONS

include jade/_functions.jade
