- function css(sheet){ stylesheets.push(sheet); }

- function js(script){ javascripts.push(script); }

- function menu(name, link, parent, attrs){
    - if(!link){link='#'}
    - if(!attrs){attrs={}}
    - menuNav.push([name,link, parent, attrs])
- }
