- //DRAGON WEBELOPER 3
- //| _config.jade | v 0.1 |
include ../dw3/_dw3.jade

- var app_title = "Wally Natación y Fiestas Infantiles"

- css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css')
- css('https://dbo.space/dw3/css/13')
- css('https://fonts.googleapis.com/css?family=Antic+Slab|Bangers')
- css('app/css/app.css')

- js('https://dbo.space/dw3/js/14')
- js('https://cdnjs.cloudflare.com/ajax/libs/angular-google-analytics/1.1.6/angular-google-analytics.min.js')

- js('app/js/app.js')

- menu('Wally', '#about', null, {'du-smooth-scroll':true, 'du-scrollspy':true})
- menu('Acuatifiestas', '#acuatifiestas', null, {'du-smooth-scroll':true,'du-scrollspy':true})
- menu('Natación', '#natacion', null, {'du-smooth-scroll':true,'du-scrollspy':true})
- menu('Curso de verano', '#curso-de-verano', null, {'du-smooth-scroll':true,'du-scrollspy':true})
- menu('Instalaciones', '#instalaciones', null, {'du-smooth-scroll':true,'du-scrollspy':true})
- menu('Contacto', '#contacto', null, {'du-smooth-scroll':true,'du-scrollspy':true})
