/* MEDIA QUERIES */
@media only screen and (min-width: 1200px) {
  .nod {
    display: none !important;
  }
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  .not {
    display: none !important;
  }
}
@media only screen and (max-width: 720px) {
  .nom {
    display: none !important;
  }
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  .onlyd {
    display: none !important;
  }
}
@media only screen and (min-width: 1200px), only screen and (max-width: 720px) {
  .onlyt {
    display: none !important;
  }
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (min-width: 1200px) {
  .onlym {
    display: none !important;
  }
}
/* ####################################################### */
/*
  DRAGON WEBELOPER 3
  | _grid.less | v 0.1 |
 */
.container {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1200px;
}
.container.column {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 721px) and (max-width: 1199px) {
  .container {
    width: 720px;
  }
}
@media only screen and (max-width: 720px) {
  .container {
    width: 100%;
  }
}
.container .container {
  width: 100%;
}
.start {
  -webkit-box-pack: start;
  -moz-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.center {
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.end {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.top {
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.middle {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
.bottom {
  -webkit-box-align: end;
  -moz-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.around {
  -webkit-box-align: space-around;
  -moz-box-align: space-around;
  -webkit-align-items: space-around;
  -ms-flex-align: space-around;
  align-items: space-around;
}
.between {
  -webkit-box-align: space-between;
  -moz-box-align: space-between;
  -webkit-align-items: space-between;
  -ms-flex-align: space-between;
  align-items: space-between;
}
.c {
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
}
.c.g {
  margin-left: 5px;
  margin-right: 5px;
}
.c0 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 0%;
  flex-basis: 0%;
  max-width: 0%;
}
.c0.g {
  -lh-property: 0;
flex-basis:-webkit-calc(0% - 10px);
flex-basis:-moz-calc(0% - 10px);
flex-basis:calc(0% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(0% - 10px);
max-width:-moz-calc(0% - 10px);
max-width:calc(0% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c1 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 8.333333333333334%;
  flex-basis: 8.333333333333334%;
  max-width: 8.33333333%;
}
.c1.g {
  -lh-property: 0;
flex-basis:-webkit-calc(8.333333333333334% - 10px);
flex-basis:-moz-calc(8.333333333333334% - 10px);
flex-basis:calc(8.333333333333334% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(8.333333333333334% - 10px);
max-width:-moz-calc(8.333333333333334% - 10px);
max-width:calc(8.333333333333334% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c2 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 16.666666666666668%;
  flex-basis: 16.666666666666668%;
  max-width: 16.66666667%;
}
.c2.g {
  -lh-property: 0;
flex-basis:-webkit-calc(16.666666666666668% - 10px);
flex-basis:-moz-calc(16.666666666666668% - 10px);
flex-basis:calc(16.666666666666668% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(16.666666666666668% - 10px);
max-width:-moz-calc(16.666666666666668% - 10px);
max-width:calc(16.666666666666668% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c3 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 25%;
  flex-basis: 25%;
  max-width: 25%;
}
.c3.g {
  -lh-property: 0;
flex-basis:-webkit-calc(25% - 10px);
flex-basis:-moz-calc(25% - 10px);
flex-basis:calc(25% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(25% - 10px);
max-width:-moz-calc(25% - 10px);
max-width:calc(25% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c4 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 33.333333333333336%;
  flex-basis: 33.333333333333336%;
  max-width: 33.33333333%;
}
.c4.g {
  -lh-property: 0;
flex-basis:-webkit-calc(33.333333333333336% - 10px);
flex-basis:-moz-calc(33.333333333333336% - 10px);
flex-basis:calc(33.333333333333336% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(33.333333333333336% - 10px);
max-width:-moz-calc(33.333333333333336% - 10px);
max-width:calc(33.333333333333336% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c5 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 41.66666666666667%;
  flex-basis: 41.66666666666667%;
  max-width: 41.66666667%;
}
.c5.g {
  -lh-property: 0;
flex-basis:-webkit-calc(41.66666666666667% - 10px);
flex-basis:-moz-calc(41.66666666666667% - 10px);
flex-basis:calc(41.66666666666667% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(41.66666666666667% - 10px);
max-width:-moz-calc(41.66666666666667% - 10px);
max-width:calc(41.66666666666667% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c6 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
  max-width: 50%;
}
.c6.g {
  -lh-property: 0;
flex-basis:-webkit-calc(50% - 10px);
flex-basis:-moz-calc(50% - 10px);
flex-basis:calc(50% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(50% - 10px);
max-width:-moz-calc(50% - 10px);
max-width:calc(50% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c7 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 58.333333333333336%;
  flex-basis: 58.333333333333336%;
  max-width: 58.33333333%;
}
.c7.g {
  -lh-property: 0;
flex-basis:-webkit-calc(58.333333333333336% - 10px);
flex-basis:-moz-calc(58.333333333333336% - 10px);
flex-basis:calc(58.333333333333336% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(58.333333333333336% - 10px);
max-width:-moz-calc(58.333333333333336% - 10px);
max-width:calc(58.333333333333336% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c8 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 66.66666666666667%;
  flex-basis: 66.66666666666667%;
  max-width: 66.66666667%;
}
.c8.g {
  -lh-property: 0;
flex-basis:-webkit-calc(66.66666666666667% - 10px);
flex-basis:-moz-calc(66.66666666666667% - 10px);
flex-basis:calc(66.66666666666667% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(66.66666666666667% - 10px);
max-width:-moz-calc(66.66666666666667% - 10px);
max-width:calc(66.66666666666667% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c9 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 75%;
  flex-basis: 75%;
  max-width: 75%;
}
.c9.g {
  -lh-property: 0;
flex-basis:-webkit-calc(75% - 10px);
flex-basis:-moz-calc(75% - 10px);
flex-basis:calc(75% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(75% - 10px);
max-width:-moz-calc(75% - 10px);
max-width:calc(75% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c10 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 83.33333333333334%;
  flex-basis: 83.33333333333334%;
  max-width: 83.33333333%;
}
.c10.g {
  -lh-property: 0;
flex-basis:-webkit-calc(83.33333333333334% - 10px);
flex-basis:-moz-calc(83.33333333333334% - 10px);
flex-basis:calc(83.33333333333334% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(83.33333333333334% - 10px);
max-width:-moz-calc(83.33333333333334% - 10px);
max-width:calc(83.33333333333334% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c11 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 91.66666666666667%;
  flex-basis: 91.66666666666667%;
  max-width: 91.66666667%;
}
.c11.g {
  -lh-property: 0;
flex-basis:-webkit-calc(91.66666666666667% - 10px);
flex-basis:-moz-calc(91.66666666666667% - 10px);
flex-basis:calc(91.66666666666667% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(91.66666666666667% - 10px);
max-width:-moz-calc(91.66666666666667% - 10px);
max-width:calc(91.66666666666667% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.c12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
  max-width: 100%;
}
.c12.g {
  -lh-property: 0;
flex-basis:-webkit-calc(100% - 10px);
flex-basis:-moz-calc(100% - 10px);
flex-basis:calc(100% - 10px);
;
  -lh-property: 0;
max-width:-webkit-calc(100% - 10px);
max-width:-moz-calc(100% - 10px);
max-width:calc(100% - 10px);
;
  margin-left: 5px;
  margin-right: 5px;
}
.o0 {
  margin-left: 0%;
}
.o0.g {
  -lh-property: 0;
margin-left:-webkit-calc(0% + 5px);
margin-left:-moz-calc(0% + 5px);
margin-left:calc(0% + 5px);
;
}
.o1 {
  margin-left: 8.33333333%;
}
.o1.g {
  -lh-property: 0;
margin-left:-webkit-calc(8.333333333333334% + 5px);
margin-left:-moz-calc(8.333333333333334% + 5px);
margin-left:calc(8.333333333333334% + 5px);
;
}
.o2 {
  margin-left: 16.66666667%;
}
.o2.g {
  -lh-property: 0;
margin-left:-webkit-calc(16.666666666666668% + 5px);
margin-left:-moz-calc(16.666666666666668% + 5px);
margin-left:calc(16.666666666666668% + 5px);
;
}
.o3 {
  margin-left: 25%;
}
.o3.g {
  -lh-property: 0;
margin-left:-webkit-calc(25% + 5px);
margin-left:-moz-calc(25% + 5px);
margin-left:calc(25% + 5px);
;
}
.o4 {
  margin-left: 33.33333333%;
}
.o4.g {
  -lh-property: 0;
margin-left:-webkit-calc(33.333333333333336% + 5px);
margin-left:-moz-calc(33.333333333333336% + 5px);
margin-left:calc(33.333333333333336% + 5px);
;
}
.o5 {
  margin-left: 41.66666667%;
}
.o5.g {
  -lh-property: 0;
margin-left:-webkit-calc(41.66666666666667% + 5px);
margin-left:-moz-calc(41.66666666666667% + 5px);
margin-left:calc(41.66666666666667% + 5px);
;
}
.o6 {
  margin-left: 50%;
}
.o6.g {
  -lh-property: 0;
margin-left:-webkit-calc(50% + 5px);
margin-left:-moz-calc(50% + 5px);
margin-left:calc(50% + 5px);
;
}
.o7 {
  margin-left: 58.33333333%;
}
.o7.g {
  -lh-property: 0;
margin-left:-webkit-calc(58.333333333333336% + 5px);
margin-left:-moz-calc(58.333333333333336% + 5px);
margin-left:calc(58.333333333333336% + 5px);
;
}
.o8 {
  margin-left: 66.66666667%;
}
.o8.g {
  -lh-property: 0;
margin-left:-webkit-calc(66.66666666666667% + 5px);
margin-left:-moz-calc(66.66666666666667% + 5px);
margin-left:calc(66.66666666666667% + 5px);
;
}
.o9 {
  margin-left: 75%;
}
.o9.g {
  -lh-property: 0;
margin-left:-webkit-calc(75% + 5px);
margin-left:-moz-calc(75% + 5px);
margin-left:calc(75% + 5px);
;
}
.o10 {
  margin-left: 83.33333333%;
}
.o10.g {
  -lh-property: 0;
margin-left:-webkit-calc(83.33333333333334% + 5px);
margin-left:-moz-calc(83.33333333333334% + 5px);
margin-left:calc(83.33333333333334% + 5px);
;
}
.o11 {
  margin-left: 91.66666667%;
}
.o11.g {
  -lh-property: 0;
margin-left:-webkit-calc(91.66666666666667% + 5px);
margin-left:-moz-calc(91.66666666666667% + 5px);
margin-left:calc(91.66666666666667% + 5px);
;
}
.o12 {
  margin-left: 100%;
}
.o12.g {
  -lh-property: 0;
margin-left:-webkit-calc(100% + 5px);
margin-left:-moz-calc(100% + 5px);
margin-left:calc(100% + 5px);
;
}
@media only screen and (min-width: 721px) and (max-width: 1199px) {
  .ct {
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 100%;
  }
  .ct.g {
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct0 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 0%;
    flex-basis: 0%;
    max-width: 0%;
  }
  .ct0.g {
    -lh-property: 0;
flex-basis:-webkit-calc(0% - 10px);
flex-basis:-moz-calc(0% - 10px);
flex-basis:calc(0% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(0% - 10px);
max-width:-moz-calc(0% - 10px);
max-width:calc(0% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 8.333333333333334%;
    flex-basis: 8.333333333333334%;
    max-width: 8.33333333%;
  }
  .ct1.g {
    -lh-property: 0;
flex-basis:-webkit-calc(8.333333333333334% - 10px);
flex-basis:-moz-calc(8.333333333333334% - 10px);
flex-basis:calc(8.333333333333334% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(8.333333333333334% - 10px);
max-width:-moz-calc(8.333333333333334% - 10px);
max-width:calc(8.333333333333334% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 16.666666666666668%;
    flex-basis: 16.666666666666668%;
    max-width: 16.66666667%;
  }
  .ct2.g {
    -lh-property: 0;
flex-basis:-webkit-calc(16.666666666666668% - 10px);
flex-basis:-moz-calc(16.666666666666668% - 10px);
flex-basis:calc(16.666666666666668% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(16.666666666666668% - 10px);
max-width:-moz-calc(16.666666666666668% - 10px);
max-width:calc(16.666666666666668% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .ct3.g {
    -lh-property: 0;
flex-basis:-webkit-calc(25% - 10px);
flex-basis:-moz-calc(25% - 10px);
flex-basis:calc(25% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(25% - 10px);
max-width:-moz-calc(25% - 10px);
max-width:calc(25% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 33.333333333333336%;
    flex-basis: 33.333333333333336%;
    max-width: 33.33333333%;
  }
  .ct4.g {
    -lh-property: 0;
flex-basis:-webkit-calc(33.333333333333336% - 10px);
flex-basis:-moz-calc(33.333333333333336% - 10px);
flex-basis:calc(33.333333333333336% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(33.333333333333336% - 10px);
max-width:-moz-calc(33.333333333333336% - 10px);
max-width:calc(33.333333333333336% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct5 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
    max-width: 41.66666667%;
  }
  .ct5.g {
    -lh-property: 0;
flex-basis:-webkit-calc(41.66666666666667% - 10px);
flex-basis:-moz-calc(41.66666666666667% - 10px);
flex-basis:calc(41.66666666666667% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(41.66666666666667% - 10px);
max-width:-moz-calc(41.66666666666667% - 10px);
max-width:calc(41.66666666666667% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .ct6.g {
    -lh-property: 0;
flex-basis:-webkit-calc(50% - 10px);
flex-basis:-moz-calc(50% - 10px);
flex-basis:calc(50% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(50% - 10px);
max-width:-moz-calc(50% - 10px);
max-width:calc(50% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct7 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
    max-width: 58.33333333%;
  }
  .ct7.g {
    -lh-property: 0;
flex-basis:-webkit-calc(58.333333333333336% - 10px);
flex-basis:-moz-calc(58.333333333333336% - 10px);
flex-basis:calc(58.333333333333336% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(58.333333333333336% - 10px);
max-width:-moz-calc(58.333333333333336% - 10px);
max-width:calc(58.333333333333336% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct8 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 66.66666666666667%;
    flex-basis: 66.66666666666667%;
    max-width: 66.66666667%;
  }
  .ct8.g {
    -lh-property: 0;
flex-basis:-webkit-calc(66.66666666666667% - 10px);
flex-basis:-moz-calc(66.66666666666667% - 10px);
flex-basis:calc(66.66666666666667% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(66.66666666666667% - 10px);
max-width:-moz-calc(66.66666666666667% - 10px);
max-width:calc(66.66666666666667% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct9 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .ct9.g {
    -lh-property: 0;
flex-basis:-webkit-calc(75% - 10px);
flex-basis:-moz-calc(75% - 10px);
flex-basis:calc(75% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(75% - 10px);
max-width:-moz-calc(75% - 10px);
max-width:calc(75% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct10 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333%;
  }
  .ct10.g {
    -lh-property: 0;
flex-basis:-webkit-calc(83.33333333333334% - 10px);
flex-basis:-moz-calc(83.33333333333334% - 10px);
flex-basis:calc(83.33333333333334% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(83.33333333333334% - 10px);
max-width:-moz-calc(83.33333333333334% - 10px);
max-width:calc(83.33333333333334% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct11 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 91.66666666666667%;
    flex-basis: 91.66666666666667%;
    max-width: 91.66666667%;
  }
  .ct11.g {
    -lh-property: 0;
flex-basis:-webkit-calc(91.66666666666667% - 10px);
flex-basis:-moz-calc(91.66666666666667% - 10px);
flex-basis:calc(91.66666666666667% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(91.66666666666667% - 10px);
max-width:-moz-calc(91.66666666666667% - 10px);
max-width:calc(91.66666666666667% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ct12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .ct12.g {
    -lh-property: 0;
flex-basis:-webkit-calc(100% - 10px);
flex-basis:-moz-calc(100% - 10px);
flex-basis:calc(100% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(100% - 10px);
max-width:-moz-calc(100% - 10px);
max-width:calc(100% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .ot0 {
    margin-left: 0%;
  }
  .ot0.g {
    -lh-property: 0;
margin-left:-webkit-calc(0% + 5px);
margin-left:-moz-calc(0% + 5px);
margin-left:calc(0% + 5px);
;
  }
  .ot1 {
    margin-left: 8.33333333%;
  }
  .ot1.g {
    -lh-property: 0;
margin-left:-webkit-calc(8.333333333333334% + 5px);
margin-left:-moz-calc(8.333333333333334% + 5px);
margin-left:calc(8.333333333333334% + 5px);
;
  }
  .ot2 {
    margin-left: 16.66666667%;
  }
  .ot2.g {
    -lh-property: 0;
margin-left:-webkit-calc(16.666666666666668% + 5px);
margin-left:-moz-calc(16.666666666666668% + 5px);
margin-left:calc(16.666666666666668% + 5px);
;
  }
  .ot3 {
    margin-left: 25%;
  }
  .ot3.g {
    -lh-property: 0;
margin-left:-webkit-calc(25% + 5px);
margin-left:-moz-calc(25% + 5px);
margin-left:calc(25% + 5px);
;
  }
  .ot4 {
    margin-left: 33.33333333%;
  }
  .ot4.g {
    -lh-property: 0;
margin-left:-webkit-calc(33.333333333333336% + 5px);
margin-left:-moz-calc(33.333333333333336% + 5px);
margin-left:calc(33.333333333333336% + 5px);
;
  }
  .ot5 {
    margin-left: 41.66666667%;
  }
  .ot5.g {
    -lh-property: 0;
margin-left:-webkit-calc(41.66666666666667% + 5px);
margin-left:-moz-calc(41.66666666666667% + 5px);
margin-left:calc(41.66666666666667% + 5px);
;
  }
  .ot6 {
    margin-left: 50%;
  }
  .ot6.g {
    -lh-property: 0;
margin-left:-webkit-calc(50% + 5px);
margin-left:-moz-calc(50% + 5px);
margin-left:calc(50% + 5px);
;
  }
  .ot7 {
    margin-left: 58.33333333%;
  }
  .ot7.g {
    -lh-property: 0;
margin-left:-webkit-calc(58.333333333333336% + 5px);
margin-left:-moz-calc(58.333333333333336% + 5px);
margin-left:calc(58.333333333333336% + 5px);
;
  }
  .ot8 {
    margin-left: 66.66666667%;
  }
  .ot8.g {
    -lh-property: 0;
margin-left:-webkit-calc(66.66666666666667% + 5px);
margin-left:-moz-calc(66.66666666666667% + 5px);
margin-left:calc(66.66666666666667% + 5px);
;
  }
  .ot9 {
    margin-left: 75%;
  }
  .ot9.g {
    -lh-property: 0;
margin-left:-webkit-calc(75% + 5px);
margin-left:-moz-calc(75% + 5px);
margin-left:calc(75% + 5px);
;
  }
  .ot10 {
    margin-left: 83.33333333%;
  }
  .ot10.g {
    -lh-property: 0;
margin-left:-webkit-calc(83.33333333333334% + 5px);
margin-left:-moz-calc(83.33333333333334% + 5px);
margin-left:calc(83.33333333333334% + 5px);
;
  }
  .ot11 {
    margin-left: 91.66666667%;
  }
  .ot11.g {
    -lh-property: 0;
margin-left:-webkit-calc(91.66666666666667% + 5px);
margin-left:-moz-calc(91.66666666666667% + 5px);
margin-left:calc(91.66666666666667% + 5px);
;
  }
  .ot12 {
    margin-left: 100%;
  }
  .ot12.g {
    -lh-property: 0;
margin-left:-webkit-calc(100% + 5px);
margin-left:-moz-calc(100% + 5px);
margin-left:calc(100% + 5px);
;
  }
}
@media only screen and (max-width: 720px) {
  .cm {
    -webkit-flex-basis: 0;
    flex-basis: 0;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    width: 100%;
  }
  .cm.g {
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm0 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 0%;
    flex-basis: 0%;
    max-width: 0%;
  }
  .cm0.g {
    -lh-property: 0;
flex-basis:-webkit-calc(0% - 10px);
flex-basis:-moz-calc(0% - 10px);
flex-basis:calc(0% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(0% - 10px);
max-width:-moz-calc(0% - 10px);
max-width:calc(0% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm1 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 8.333333333333334%;
    flex-basis: 8.333333333333334%;
    max-width: 8.33333333%;
  }
  .cm1.g {
    -lh-property: 0;
flex-basis:-webkit-calc(8.333333333333334% - 10px);
flex-basis:-moz-calc(8.333333333333334% - 10px);
flex-basis:calc(8.333333333333334% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(8.333333333333334% - 10px);
max-width:-moz-calc(8.333333333333334% - 10px);
max-width:calc(8.333333333333334% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm2 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 16.666666666666668%;
    flex-basis: 16.666666666666668%;
    max-width: 16.66666667%;
  }
  .cm2.g {
    -lh-property: 0;
flex-basis:-webkit-calc(16.666666666666668% - 10px);
flex-basis:-moz-calc(16.666666666666668% - 10px);
flex-basis:calc(16.666666666666668% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(16.666666666666668% - 10px);
max-width:-moz-calc(16.666666666666668% - 10px);
max-width:calc(16.666666666666668% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm3 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 25%;
    flex-basis: 25%;
    max-width: 25%;
  }
  .cm3.g {
    -lh-property: 0;
flex-basis:-webkit-calc(25% - 10px);
flex-basis:-moz-calc(25% - 10px);
flex-basis:calc(25% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(25% - 10px);
max-width:-moz-calc(25% - 10px);
max-width:calc(25% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm4 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 33.333333333333336%;
    flex-basis: 33.333333333333336%;
    max-width: 33.33333333%;
  }
  .cm4.g {
    -lh-property: 0;
flex-basis:-webkit-calc(33.333333333333336% - 10px);
flex-basis:-moz-calc(33.333333333333336% - 10px);
flex-basis:calc(33.333333333333336% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(33.333333333333336% - 10px);
max-width:-moz-calc(33.333333333333336% - 10px);
max-width:calc(33.333333333333336% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm5 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 41.66666666666667%;
    flex-basis: 41.66666666666667%;
    max-width: 41.66666667%;
  }
  .cm5.g {
    -lh-property: 0;
flex-basis:-webkit-calc(41.66666666666667% - 10px);
flex-basis:-moz-calc(41.66666666666667% - 10px);
flex-basis:calc(41.66666666666667% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(41.66666666666667% - 10px);
max-width:-moz-calc(41.66666666666667% - 10px);
max-width:calc(41.66666666666667% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm6 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 50%;
    flex-basis: 50%;
    max-width: 50%;
  }
  .cm6.g {
    -lh-property: 0;
flex-basis:-webkit-calc(50% - 10px);
flex-basis:-moz-calc(50% - 10px);
flex-basis:calc(50% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(50% - 10px);
max-width:-moz-calc(50% - 10px);
max-width:calc(50% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm7 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 58.333333333333336%;
    flex-basis: 58.333333333333336%;
    max-width: 58.33333333%;
  }
  .cm7.g {
    -lh-property: 0;
flex-basis:-webkit-calc(58.333333333333336% - 10px);
flex-basis:-moz-calc(58.333333333333336% - 10px);
flex-basis:calc(58.333333333333336% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(58.333333333333336% - 10px);
max-width:-moz-calc(58.333333333333336% - 10px);
max-width:calc(58.333333333333336% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm8 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 66.66666666666667%;
    flex-basis: 66.66666666666667%;
    max-width: 66.66666667%;
  }
  .cm8.g {
    -lh-property: 0;
flex-basis:-webkit-calc(66.66666666666667% - 10px);
flex-basis:-moz-calc(66.66666666666667% - 10px);
flex-basis:calc(66.66666666666667% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(66.66666666666667% - 10px);
max-width:-moz-calc(66.66666666666667% - 10px);
max-width:calc(66.66666666666667% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm9 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 75%;
    flex-basis: 75%;
    max-width: 75%;
  }
  .cm9.g {
    -lh-property: 0;
flex-basis:-webkit-calc(75% - 10px);
flex-basis:-moz-calc(75% - 10px);
flex-basis:calc(75% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(75% - 10px);
max-width:-moz-calc(75% - 10px);
max-width:calc(75% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm10 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 83.33333333333334%;
    flex-basis: 83.33333333333334%;
    max-width: 83.33333333%;
  }
  .cm10.g {
    -lh-property: 0;
flex-basis:-webkit-calc(83.33333333333334% - 10px);
flex-basis:-moz-calc(83.33333333333334% - 10px);
flex-basis:calc(83.33333333333334% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(83.33333333333334% - 10px);
max-width:-moz-calc(83.33333333333334% - 10px);
max-width:calc(83.33333333333334% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm11 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 91.66666666666667%;
    flex-basis: 91.66666666666667%;
    max-width: 91.66666667%;
  }
  .cm11.g {
    -lh-property: 0;
flex-basis:-webkit-calc(91.66666666666667% - 10px);
flex-basis:-moz-calc(91.66666666666667% - 10px);
flex-basis:calc(91.66666666666667% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(91.66666666666667% - 10px);
max-width:-moz-calc(91.66666666666667% - 10px);
max-width:calc(91.66666666666667% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .cm12 {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  .cm12.g {
    -lh-property: 0;
flex-basis:-webkit-calc(100% - 10px);
flex-basis:-moz-calc(100% - 10px);
flex-basis:calc(100% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(100% - 10px);
max-width:-moz-calc(100% - 10px);
max-width:calc(100% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
  .om0 {
    margin-left: 0%;
  }
  .om0.g {
    -lh-property: 0;
margin-left:-webkit-calc(0% + 5px);
margin-left:-moz-calc(0% + 5px);
margin-left:calc(0% + 5px);
;
  }
  .om1 {
    margin-left: 8.33333333%;
  }
  .om1.g {
    -lh-property: 0;
margin-left:-webkit-calc(8.333333333333334% + 5px);
margin-left:-moz-calc(8.333333333333334% + 5px);
margin-left:calc(8.333333333333334% + 5px);
;
  }
  .om2 {
    margin-left: 16.66666667%;
  }
  .om2.g {
    -lh-property: 0;
margin-left:-webkit-calc(16.666666666666668% + 5px);
margin-left:-moz-calc(16.666666666666668% + 5px);
margin-left:calc(16.666666666666668% + 5px);
;
  }
  .om3 {
    margin-left: 25%;
  }
  .om3.g {
    -lh-property: 0;
margin-left:-webkit-calc(25% + 5px);
margin-left:-moz-calc(25% + 5px);
margin-left:calc(25% + 5px);
;
  }
  .om4 {
    margin-left: 33.33333333%;
  }
  .om4.g {
    -lh-property: 0;
margin-left:-webkit-calc(33.333333333333336% + 5px);
margin-left:-moz-calc(33.333333333333336% + 5px);
margin-left:calc(33.333333333333336% + 5px);
;
  }
  .om5 {
    margin-left: 41.66666667%;
  }
  .om5.g {
    -lh-property: 0;
margin-left:-webkit-calc(41.66666666666667% + 5px);
margin-left:-moz-calc(41.66666666666667% + 5px);
margin-left:calc(41.66666666666667% + 5px);
;
  }
  .om6 {
    margin-left: 50%;
  }
  .om6.g {
    -lh-property: 0;
margin-left:-webkit-calc(50% + 5px);
margin-left:-moz-calc(50% + 5px);
margin-left:calc(50% + 5px);
;
  }
  .om7 {
    margin-left: 58.33333333%;
  }
  .om7.g {
    -lh-property: 0;
margin-left:-webkit-calc(58.333333333333336% + 5px);
margin-left:-moz-calc(58.333333333333336% + 5px);
margin-left:calc(58.333333333333336% + 5px);
;
  }
  .om8 {
    margin-left: 66.66666667%;
  }
  .om8.g {
    -lh-property: 0;
margin-left:-webkit-calc(66.66666666666667% + 5px);
margin-left:-moz-calc(66.66666666666667% + 5px);
margin-left:calc(66.66666666666667% + 5px);
;
  }
  .om9 {
    margin-left: 75%;
  }
  .om9.g {
    -lh-property: 0;
margin-left:-webkit-calc(75% + 5px);
margin-left:-moz-calc(75% + 5px);
margin-left:calc(75% + 5px);
;
  }
  .om10 {
    margin-left: 83.33333333%;
  }
  .om10.g {
    -lh-property: 0;
margin-left:-webkit-calc(83.33333333333334% + 5px);
margin-left:-moz-calc(83.33333333333334% + 5px);
margin-left:calc(83.33333333333334% + 5px);
;
  }
  .om11 {
    margin-left: 91.66666667%;
  }
  .om11.g {
    -lh-property: 0;
margin-left:-webkit-calc(91.66666666666667% + 5px);
margin-left:-moz-calc(91.66666666666667% + 5px);
margin-left:calc(91.66666666666667% + 5px);
;
  }
  .om12 {
    margin-left: 100%;
  }
  .om12.g {
    -lh-property: 0;
margin-left:-webkit-calc(100% + 5px);
margin-left:-moz-calc(100% + 5px);
margin-left:calc(100% + 5px);
;
  }
}
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.fluid {
  width: 100%;
}
.t {
  outline: 1px dashed rgba(0, 0, 0, 0.2);
}
.tac {
  text-align: center;
}
.tar {
  text-align: right;
}
.tal {
  text-align: left;
}
.mall {
  margin: 5px;
}
.mt {
  margin-top: 5px;
}
.mb {
  margin-bottom: 5px;
}
.mt2 {
  margin-top: 10px;
}
.mb2 {
  margin-bottom: 10px;
}
[backstretch] {
  position: relative;
}
/* WIDTHS */
/* COLORS */
/* ----------- */
.font1 {
  font-family: 'Antic Slab', serif;
}
.font2 {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
}
/* -----------  */
.gradient {
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#008AB8, #005282);
  background-image: -moz-linear-gradient(#008AB8, #005282);
  background-image: -o-linear-gradient(#008AB8, #005282);
  background-image: linear-gradient(#008AB8, #005282);
}
nav #navigationCheckboxButton {
  display: none;
}
nav.horizontal ul {
  margin-left: auto;
  margin-right: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 1200px;
}
nav.horizontal ul.column {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media only screen and (min-width: 721px) and (max-width: 1199px) {
  nav.horizontal ul {
    width: 720px;
  }
}
@media only screen and (max-width: 720px) {
  nav.horizontal ul {
    width: 100%;
  }
}
nav.horizontal ul .container {
  width: 100%;
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  nav.horizontal ul {
    width: 100%;
  }
}
nav.horizontal ul li {
  display: block;
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  width: 100%;
}
nav.horizontal ul li.g {
  margin-left: 5px;
  margin-right: 5px;
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  nav.horizontal ul li {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    max-width: 100%;
  }
  nav.horizontal ul li.g {
    -lh-property: 0;
flex-basis:-webkit-calc(100% - 10px);
flex-basis:-moz-calc(100% - 10px);
flex-basis:calc(100% - 10px);
;
    -lh-property: 0;
max-width:-webkit-calc(100% - 10px);
max-width:-moz-calc(100% - 10px);
max-width:calc(100% - 10px);
;
    margin-left: 5px;
    margin-right: 5px;
  }
}
nav.horizontal .navBtn {
  display: none;
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  nav.horizontal .navBtn {
    display: block;
  }
}
.tac {
  text-align: center;
}
.tal {
  text-align: left;
}
.tar {
  text-align: right;
}
/****  custom classes ******/
.wallytxt {
  font-family: 'Bangers', cursive;
  color: #fff;
  text-shadow: -3px 0px 0px rgba(0, 55, 87, 0.3);
  font-weight: lighter;
  letter-spacing: 1px;
}
@media only screen and (max-width: 720px) {
  .wallytxt {
    line-height: 1em;
  }
}
.waves {
  width: 100%;
}
.waves svg,
.waves g {
  width: 100%;
  height: auto;
}
.waves #waves {
  width: 100%;
  zoom: 1;
  filter: alpha(opacity=40);
  -webkit-opacity: 0.4;
  -moz-opacity: 0.4;
  opacity: 0.4;
}
.waves #waves #wave1 path {
  -webkit-animation-name: floating;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
.waves #waves #wave2 path {
  -webkit-animation-name: floating;
  -webkit-animation-duration: 3s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
.waves #waves #wave3 path {
  -webkit-animation-name: floating;
  -webkit-animation-duration: 4s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
/****  custom styles ******/
body {
  font-family: 'Antic Slab', serif;
}
nav.horizontal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  text-align: center;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#008AB8, #005282);
  background-image: -moz-linear-gradient(#008AB8, #005282);
  background-image: -o-linear-gradient(#008AB8, #005282);
  background-image: linear-gradient(#008AB8, #005282);
  font-family: 'Bangers', cursive;
  color: #fff;
  text-shadow: -3px 0px 0px rgba(0, 55, 87, 0.3);
  font-weight: lighter;
  letter-spacing: 1px;
}
@media only screen and (max-width: 720px) {
  nav.horizontal {
    line-height: 1em;
  }
}
@media only screen and (min-width: 721px) and (max-width: 1199px) {
  nav.horizontal {
    width: auto;
    max-width: 30%;
  }
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  nav.horizontal label.navBtn {
    display: inline-block;
    padding: 16px;
    text-align: center;
    float: left;
  }
}
nav.horizontal li a {
  display: block;
  color: #fff;
  font-size: 1.3em;
  padding: 14px 5px;
}
nav.horizontal li a.active {
  color: #F9B84D;
}
@media only screen and (min-width: 721px) and (max-width: 1199px) {
  nav.horizontal li a {
    padding: 10px 30px;
  }
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  nav.horizontal ul {
    clear: both;
  }
  nav.horizontal #navigationCheckboxButton + ul {
    display: block;
  }
  nav.horizontal #navigationCheckboxButton:checked + ul {
    display: none;
  }
}
header#wally {
  padding-top: 100px;
  position: relative;
}
header#wally.green {
  background: #BCCF00;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
header#wally.cian {
  background: #69C3CB;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
header#wally.yellow {
  background: #F9CB17;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
header#wally slick .slick-slide {
  position: relative;
  height: 300px;
}
header#wally slick .slick-slide:not(.slick-current) .char.left {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translate(-50px, 0);
  -moz-transform: translate(-50px, 0);
  -o-transform: translate(-50px, 0);
  -ms-transform: translate(-50px, 0);
  transform: translate(-50px, 0);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
header#wally slick .slick-slide:not(.slick-current) .char.right {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translate(50px, 0px);
  -moz-transform: translate(50px, 0px);
  -o-transform: translate(50px, 0px);
  -ms-transform: translate(50px, 0px);
  transform: translate(50px, 0px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
header#wally slick .slick-slide:not(.slick-current) .mainTitle {
  zoom: 1;
  filter: alpha(opacity=0);
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -moz-transform: translate(0px, 100px);
  -o-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
header#wally slick .slick-slide.slick-current .char.left {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
header#wally slick .slick-slide.slick-current .char.right {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.9s;
  -moz-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}
header#wally slick .slick-slide.slick-current .mainTitle {
  zoom: 1;
  filter: alpha(opacity=100);
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: 0.7s;
  -moz-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
}
header#wally slick .slick-dots {
  position: absolute;
  width: 100%;
  text-align: center;
  left: 0;
  bottom: 0;
  z-index: 3;
}
header#wally slick .slick-dots li {
  display: inline-block;
  font-size: 0;
}
header#wally slick .slick-dots li:after {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  background: #005282;
  margin: 5px;
}
header#wally slick .slick-dots li.slick-active:after {
  background: #F9B84D;
}
header#wally .mainTitle {
  font-family: 'Bangers', cursive;
  color: #fff;
  text-shadow: -3px 0px 0px rgba(0, 55, 87, 0.3);
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: center;
  font-size: 4em;
  margin-top: 40px;
}
@media only screen and (max-width: 720px) {
  header#wally .mainTitle {
    line-height: 1em;
  }
}
@media only screen and (max-width: 720px) {
  header#wally .mainTitle {
    font-size: 3em;
    margin-top: 20px;
    line-height: 1em;
  }
}
header#wally .char {
  position: absolute;
}
header#wally .char.crab_a {
  left: 40px;
  bottom: 30px;
  width: 130px;
}
@media only screen and (max-width: 720px) {
  header#wally .char.crab_a {
    width: 80px;
    left: 10px;
  }
}
header#wally .char.crab_b {
  left: 170px;
  bottom: 35px;
  width: 80px;
}
@media only screen and (max-width: 720px) {
  header#wally .char.crab_b {
    width: 50px;
    left: 100px;
  }
}
header#wally .char.mermaid_a {
  right: 80px;
  bottom: 30px;
  width: 260px;
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  header#wally .char.mermaid_a {
    width: 200px;
  }
}
@media only screen and (max-width: 720px) {
  header#wally .char.mermaid_a {
    right: 10px;
  }
}
header#wally .char.ray_a {
  right: 40px;
  bottom: 30px;
  width: 400px;
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  header#wally .char.ray_a {
    width: 200px;
  }
}
@media only screen and (max-width: 720px) {
  header#wally .char.ray_a {
    right: 10px;
    bottom: 60px;
  }
}
header#wally .char.octo_a {
  right: 80px;
  bottom: 30px;
  width: 180px;
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  header#wally .char.octo_a {
    width: 120px;
  }
}
@media only screen and (max-width: 720px) {
  header#wally .char.octo_a {
    right: 10px;
  }
}
header#wally .waves {
  position: absolute;
  bottom: 0;
  left: 0;
}
section {
  min-height: 460px;
  position: relative;
}
section h3 {
  font-size: 3.5em;
}
.wavehr {
  top: -30px;
  width: 100%;
  position: relative;
  z-index: 1;
}
@media only screen and (max-width: 720px) {
  .wavehr {
    top: -24px;
  }
}
.wavehr svg,
.wavehr g {
  width: 100%;
  height: auto;
}
.wavehr #wavehr {
  width: 100%;
}
.wavehr #top {
  -webkit-animation-name: floating;
  -webkit-animation-duration: 4s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
.wavehr #bottom {
  -webkit-animation-name: floating;
  -webkit-animation-duration: 5s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
#about {
  background: #009BC0;
}
#about h1 {
  font-family: 'Bangers', cursive;
  color: #fff;
  text-shadow: -3px 0px 0px rgba(0, 55, 87, 0.3);
  font-weight: lighter;
  letter-spacing: 1px;
  font-size: 2.8em;
}
@media only screen and (max-width: 720px) {
  #about h1 {
    line-height: 1em;
  }
}
#about p {
  color: #fff;
  font-family: 'Antic Slab', serif;
  font-weight: lighter;
  font-size: 1.4em;
}
#about .initmap {
  background-image: url(img/initmap.png);
  background-repeat: no-repeat;
  background-position: center;
  width: 502px;
  height: 332px;
  position: relative;
  margin-bottom: -130px;
  z-index: 5;
  margin-top: 40px;
}
@media only screen and (max-width: 720px) {
  #about .initmap {
    width: 100%;
    background-size: 100%;
    margin-bottom: -20px;
    margin-top: 20px;
  }
}
#about .initmap .where {
  position: absolute;
  right: 20px;
  bottom: 20px;
  background: #fff;
  padding: 10px;
  text-align: right;
}
@media only screen and (max-width: 720px) {
  #about .initmap .where {
    bottom: 20%;
    right: 5%;
  }
}
#about .initmap .where p {
  font-family: 'Bangers', cursive;
  letter-spacing: 1px;
  color: #69C3CB;
  line-height: 1;
}
#about .initmap .where p strong {
  color: #009BC0;
  font-size: 1.6em;
  text-shadow: -2px 0 0 #d5d5d5;
}
#about .initmap .pin {
  background: url(img/pin.png);
  width: 209px;
  height: 209px;
  background-size: cover;
  position: absolute;
  left: 80px;
  top: 0px;
}
#about .imgCircles {
  background-image: url(img/circlekids.png);
  background-size: 80%;
  background-position: top center;
}
@media only screen and (min-width: 721px) and (max-width: 1199px) {
  #about .imgCircles {
    background-size: 100%;
  }
}
#before {
  background: #005282;
}
@media only screen and (max-width: 720px) {
  #before {
    padding-bottom: 80px;
  }
}
#before .wavehr #top {
  fill: #0081a0;
}
#before .wavehr #bottom {
  fill: #005282;
}
#before .boy {
  margin-top: -280px;
  position: relative;
  z-index: 4;
  float: right;
}
#before .minititle {
  font-family: 'Bangers', cursive;
  color: #fff;
  text-shadow: -3px 0px 0px rgba(0, 55, 87, 0.3);
  font-weight: lighter;
  letter-spacing: 1px;
  color: #69C3CB;
  font-size: 2em;
  margin-top: 40px;
}
@media only screen and (max-width: 720px) {
  #before .minititle {
    line-height: 1em;
  }
}
#before p {
  color: #fff;
  font-size: 1.2em;
}
#before .diver {
  margin-left: -10px;
  -webkit-animation-name: floating;
  -webkit-animation-duration: 1s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
@media only screen and (min-width: 721px) and (max-width: 1199px) {
  #before .diver {
    margin-top: 40px;
  }
}
#acuatifiestas {
  padding-bottom: 120px;
  background: #BCCF00;
}
#acuatifiestas .wavehr #top {
  fill: #00446c;
}
#acuatifiestas .wavehr #bottom {
  fill: #BCCF00;
}
#acuatifiestas .waves {
  position: absolute;
  left: 0;
  bottom: 0;
}
#acuatifiestas p {
  color: #005282;
  font-size: 1.2em;
  margin-top: 30px;
}
#acuatifiestas .paquetes {
  margin-top: 40px;
  margin-bottom: 20px;
}
#acuatifiestas .paquetes h4 {
  font-size: 2em;
  margin-top: 180px;
  text-align: center;
}
@media only screen and (max-width: 720px) {
  #acuatifiestas .paquetes h4 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
#acuatifiestas .paquetes .paq {
  background: #fff;
  width: 90%;
  margin: 0 auto;
  -webkit-border-radius: 6px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px;
  -moz-background-clip: padding;
  border-radius: 6px;
  background-clip: padding-box;
}
@media only screen and (max-width: 720px) {
  #acuatifiestas .paquetes .paq {
    margin-top: 10px;
  }
}
#acuatifiestas .paquetes .paq .paqtitle {
  font-family: 'Bangers', cursive;
  color: #fff;
  text-shadow: -3px 0px 0px rgba(0, 55, 87, 0.3);
  font-weight: lighter;
  letter-spacing: 1px;
  text-align: center;
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#008AB8, #005282);
  background-image: -moz-linear-gradient(#008AB8, #005282);
  background-image: -o-linear-gradient(#008AB8, #005282);
  background-image: linear-gradient(#008AB8, #005282);
  padding: 5px;
  -webkit-border-radius: 6px 6px 0 0;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 6px 6px 0 0;
  -moz-background-clip: padding;
  border-radius: 6px 6px 0 0;
  background-clip: padding-box;
  font-size: 1.7em;
}
@media only screen and (max-width: 720px) {
  #acuatifiestas .paquetes .paq .paqtitle {
    line-height: 1em;
  }
}
#acuatifiestas .paquetes .paq .time {
  font-family: 'Bangers', cursive;
  color: #fff;
  text-shadow: -3px 0px 0px rgba(0, 55, 87, 0.3);
  font-weight: lighter;
  letter-spacing: 1px;
  color: #005282;
  text-align: center;
  font-size: 1.5em;
  padding: 10px;
}
@media only screen and (max-width: 720px) {
  #acuatifiestas .paquetes .paq .time {
    line-height: 1em;
  }
}
#acuatifiestas .paquetes .paq ul {
  list-style: none;
}
#acuatifiestas .paquetes .paq ul li {
  padding: 10px;
  color: #005282;
}
#acuatifiestas .paquetes .paq ul li:before {
  content: "\f043";
  font: normal normal normal 14px/1 FontAwesome;
  color: #BCCF00;
  font-size: 1.4em;
  margin-right: 10px;
  margin-left: 10px;
}
#acuatifiestas .paquetes .paq .extra {
  color: #888;
  text-align: right;
  padding: 10px;
  font-size: 0.9em;
}
#acuatifiestas .paquetes .paq .extra strong {
  color: #005282;
}
#acuatifiestas .tambien {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}
#natacion {
  padding-bottom: 120px;
  background: #69C3CB;
}
#natacion .wavehr #top {
  fill: #9dad00;
}
#natacion .wavehr #bottom {
  fill: #69C3CB;
}
#natacion .waves {
  position: absolute;
  left: 0;
  bottom: 0;
}
#natacion p {
  color: #005282;
  font-size: 1.2em;
  margin-top: 30px;
}
#natacion h4 {
  font-size: 2em;
  margin-top: 20px;
  text-align: center;
}
#natacion .tambien {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top: 20px;
}
#curso-de-verano {
  padding-bottom: 120px;
  background: #F9CB17;
}
#curso-de-verano .wavehr #top {
  fill: #58a3a9;
}
#curso-de-verano .wavehr #bottom {
  fill: #F9CB17;
}
#curso-de-verano .waves {
  position: absolute;
  left: 0;
  bottom: 0;
}
#curso-de-verano p {
  color: #005282;
  font-size: 1.2em;
  margin-top: 30px;
}
#curso-de-verano .nextcurso {
  margin-top: -100px;
}
@media only screen and (max-width: 720px) {
  #curso-de-verano .nextcurso {
    margin-top: 20px;
  }
}
#curso-de-verano .nextcurso .wallytxt {
  font-size: 1.4em;
  text-align: center;
}
#curso-de-verano .nextcurso h4.wallytxt {
  font-size: 4em;
}
#curso-de-verano .tambien {
  color: #fff;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 20px;
  margin-top: 20px;
}
#instalaciones {
  padding-bottom: 120px;
  background: #009BC0;
}
#instalaciones .wavehr #top {
  fill: #e2b915;
}
#instalaciones .wavehr #bottom {
  fill: #009BC0;
}
#instalaciones p {
  color: #fff;
  font-size: 1.2em;
  margin-top: 30px;
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  #instalaciones .instagal {
    margin-top: 50px;
  }
}
#instalaciones .instagal img {
  width: 100%;
}
#instalaciones .instagal .slick-slide {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 20px solid #F9B84D;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
  overflow: hidden;
  margin: 5px 80px;
}
@media only screen and (min-width: 721px) and (max-width: 1199px) {
  #instalaciones .instagal .slick-slide {
    margin: 0 5px 0 5px;
  }
}
@media only screen and (max-width: 720px) {
  #instalaciones .instagal .slick-slide {
    margin: 0 0 0 0;
  }
}
#instalaciones .instagal .slick-arrow {
  font-size: 0;
  color: #F9CB17;
}
#instalaciones .instagal .slick-arrow.slick-prev:before {
  content: "\f077";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 80px;
}
#instalaciones .instagal .slick-arrow.slick-next:before {
  content: "\f078";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 80px;
}
#instalaciones .instagal .slick-arrow.slick-prev {
  position: absolute;
  top: -15px;
  left: 20%;
  z-index: 5;
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  #instalaciones .instagal .slick-arrow.slick-prev {
    top: -50px;
  }
}
#instalaciones .instagal .slick-arrow.slick-next {
  position: absolute;
  bottom: -5px;
  right: 20%;
  z-index: 5;
}
@media only screen and (min-width: 721px) and (max-width: 1199px), only screen and (max-width: 720px) {
  #instalaciones .instagal .slick-arrow.slick-next {
    bottom: -40px;
  }
}
#contacto {
  background: #005282;
}
#contacto .wavehr #top {
  fill: #0081a0;
}
#contacto .wavehr #bottom {
  fill: #005282;
}
#contacto .infocont .wallytxt {
  text-align: center;
  font-size: 1.4em;
  margin-bottom: 20px;
  margin-top: 40px;
}
#contacto .infocont .fb_wally {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  overflow: hidden;
  -webkit-border-radius: 50%;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 50%;
  -moz-background-clip: padding;
  border-radius: 50%;
  background-clip: padding-box;
}
#contacto .infocont .fb_wally img {
  width: 100%;
}
#contacto .infocont .linkfb {
  display: block;
  padding: 10px;
  text-align: center;
  color: #F9B84D;
}
#contacto .infocont .linkfb i {
  color: #009BC0;
}
#contacto .phone .wallytxt {
  margin-top: 0px;
  margin-bottom: 0;
  font-size: 2.5em;
  color: #BCCF00;
}
#contacto .phone .wallytxt:first-child {
  font-size: 3em;
}
#contacto .mail {
  text-align: center;
}
#contacto .mail a {
  color: #BCCF00;
}
#contacto .mail a:hover {
  color: #F9CB17;
}
#contacto form input,
#contacto form textarea {
  width: 100%;
  margin: 0 0 4px 0;
  background: #fff;
  font-family: 'Antic Slab', serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 4px 10px;
  color: #005282;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
}
#contacto button {
  border: none;
  background: #69C3CB;
  color: #005282;
  width: 120px;
  padding: 5px;
  font-size: 1.2em;
  -webkit-border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-border-radius: 3px;
  -moz-background-clip: padding;
  border-radius: 3px;
  background-clip: padding-box;
  cursor: pointer;
}
#contacto button:hover {
  background: #F9B84D;
}
#contacto .confirmacion .wallytxt {
  color: #69C3CB;
}
#swipebox-overlay,
#swipebox-bottom-bar,
#swipebox-top-bar {
  background-image: 8121991;
  background-image: -webkit-linear-gradient(#008AB8, #005282);
  background-image: -moz-linear-gradient(#008AB8, #005282);
  background-image: -o-linear-gradient(#008AB8, #005282);
  background-image: linear-gradient(#008AB8, #005282);
}
/* ---- */
@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  50% {
    -webkit-transform: translate(0px, 4px);
    -moz-transform: translate(0px, 4px);
    -o-transform: translate(0px, 4px);
    -ms-transform: translate(0px, 4px);
    transform: translate(0px, 4px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
.promoopen {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all .5s;
}
.promoopen img {
  margin-top: 40px;
  flex-grow: 0;
  width: 80%;
  max-width: 600px;
  max-height: 600px;
  transition: all .5s;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.3);
}
.promoopen.closed {
  left: 94%;
  top: 90%;
  transition: all .5s;
}
.promoopen.closed img {
  margin-top: 0;
  width: 100%;
  transition: all .5s;
}
